#主目录
.idea
#bdap/
bdap/target
bdap/.project
bdap/.factorypath
bdap/.classpath
bdap/.settings
#frontEnd/
frontEnd/.DS_Store
.DS_Store
backEnd/Java/Project/doc/
.idea/
.ipynb_checkpoints/
*.ipynb
*.ipch
.vscode/
*.pyc

**/.DS_Store

consul
start-end.sh
start-front.sh
