frontEnd/.DS_Store
.DS_Store
backEnd/__pycache__/nodeCreate.cpython-37.pyc
backEnd/__pycache__/nodeCreate.cpython-37.pyc
.vscode/settings.json
.vscode/settings.json
backEnd/Java/Project/doc/
frontEnd/demo/src/LocalModeComponents/Models/MachineLearning/Regression/DecisionTree.py
frontEnd/docs/ast/source/components/Base/Editor.js.json
