.charter {
    height: calc(100vh - 245px);
}

.tableHidden {
    width  : 1100px;
    height : 470px;
    display: none;
}

.chartVisual {
    width  : 1100px;
    height : 470px;
}


.tableHidden {
    display: none;
}

.tableVisual {
}