.header {
    height       : 70px;
    padding-top  : 20px;
    border-bottom: 1px solid #ececec;
}

.header-font {
    display: inline;
}

.button-style {
    border      : 0;
    font-size   : 30px;
    padding     : 0;
    margin-left : 5px;
    margin-right: 5px;
}

.icon-style {
    border      : 0;
    font-size   : 20px;
    padding     : 0;
    margin-left : 3px;
}

.cardStyle {
    :global {
        .ant-card-body {
            padding       : 10px;
            padding-top   : 21px;
            padding-bottom: 21px;
        }
    }

    margin    : 5px;
    margin-top: 20px;
    height    : 70px;
    cursor    : pointer;
    transition: transform .5s;
}

.cardStyle::after {
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    content   : '';
    opacity   : 0;
    z-index   : -1;
}

.cardStyle:hover,
.cardStyle:focus {
    transform: scale3d(1.006, 1.006, 1);
}

.cardStyle:hover::after,
.cardStyle:focus::after {
    opacity: 1;
}