@charset "UTF-8";

.loader {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background:white;
    text-align: center;
/* loader页面消失采用渐隐的方式*/
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    transition: opacity 1s ease;
}
/* 使用base64编码嵌入加载的logo */
.loader-content {
    display: block;
    position: relative;
    padding-top: 0%;
    top: 35%;
    
}
.fadeout {
    opacity: 0;
    filter: alpha(opacity=0);
}
/* logo出现动画 */
@-webkit-keyframes fadeInDown
{
    0%
    {
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
        transform:translate3d(0,-100%,0)
    }
    100%
    {
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@keyframes fadeInDown
{
    0%
    {
        opacity:0;
        -webkit-transform:translate3d(0,-100%,0);
    }
}
