.radio-button {
    :global {
        .ant-radio-button-wrapper-checked {
            color           : #fff;
            background-color: #1890ff;
        }
    }

    margin-top: 20px;
}

.header {
    padding-top: 30px;
    height     : 100px;
}

.visualized {
    height: calc(100vh - 275px);
}

.footer {
    height: 70px;
}