.radio-button {
    :global {
        .ant-radio-button-wrapper-checked {
            color           : #fff;
            background-color: #1890ff;
        }
    }
}

.header {
    padding-top  : 15px;
    height       : 69px;
    border-bottom: 1px solid #ececec;
}

.visualized {
    height: calc(100vh - 165px);
}

.footer {
    height: 70px;
}

.righter {
    height: calc(100vh - 165px);
    border-left: 1px solid #ececec;
}